.about-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-top: 5%;
  }
  
  h1 {
    text-align: center;
  }
  
  .about-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .about-image {
    width: 150px;
    height: auto;
    margin-right: 20px;
  }
  
  .about-text {
    max-width: 600px;
  }
  
  .about-text h2 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .about-text p {
    margin: 10px 0 0;
    font-size: 1em;
    color: #555;
  }
  