.prompt-page-container {

  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-top: 1%;
  margin-top: 2%;

}


.prompt_qa-container {
  height: 100%; 
  justify-content: center; 
  width: 100%; 
  background-color: white; 
  padding: 30px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  overflow-y: auto; 
  overflow-x: auto; 
  justify-content: center; 
  align-items: center; 
}


.prompt_qa-container h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

/* Subheading styles */
.prompt_qa-container h2 {
  font-size: 1.5em;
  color: #555;
  margin-top: 20px;
}


.prompt_qa-container input[type="text"] {
  width: calc(80% - 22px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 1em;
}

.prompt_qa-container button {
  padding: 10px 15px;
  background-color: #ADD8E6;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.prompt_qa-container button:hover {
  background-color: #191970;
  color: white;
}


.grid-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 20px; 
  width: 100%;
}


.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid */
  gap: 16px;
  margin: 0;
}

.grid-item {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100px;
  overflow: hidden; 
}

.recipe-buttons {
  display: flex;
  width: 100%; 
  gap: 10px;
  align-items: center;
  flex-wrap: wrap; 
}


.recipe-buttons button {
  flex: 1; 
  max-width: 100px; 
}



.grid-item h3 {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.grid-item p {
  margin: 6px 0;
}

.error-message {
  color: red;
}

.grid-row-header {
  display: flex;               
  align-items: center;        
  gap: 10px;                  
}

.grid-row-title {
  font-size: 1.5rem;        
  font-weight: bold;          
  margin: 0;                
}

.grid-row-button {
  
  background-size: contain;   
  background-repeat: no-repeat; 
  background-position: center; 
  width: 350px;               
  height: 40px;             
  background-color: #ADD8E6;
  border: none;               
  padding: 0;                
  cursor: pointer;           
}
.recipe-request {
  display: flex;             
  align-items: center;      
  gap: 10px;                
  margin-top: 10px;        
}

.recipe-request h3 {
  margin: 0;               
  font-size: 1.2em;       
}
