.qa-container {
    display: block; /* Change from flex to block */
    margin: 0 auto; /* Center container if necessary, though this is optional */

    max-width: 100%; /* Optional: Limit the width for readability */
    margin-top: 2%;
}

/* Title styles */
.qa-container h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

/* Subheading styles */
.qa-container h2 {
    font-size: 1.5em;
    color: #555;
    margin-top: 20px;
}

/* List styles */
.qa-container ul {
    list-style: none;
    padding: 0;
}

.qa-container li {
    padding: 15px;
    border-bottom: 1px solid #eee;  /* Changed to make borders visible */
}

/* Input styles */
.qa-container input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 1em;
}

.qa-container button {
    padding: 10px 15px;
    background-color: #ADD8E6;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    width: 8%;
}

.qa-container button:hover {
    background-color: #191970;
    color: white;
}


.qa-container p {
    margin: 5px 0;
    color: #666;
}


.noData{
   
    justify-content: center; 
    align-items: center; 
    margin-top: 1%;
    margin-top: 5%;
    margin-left: 30%;
    
}

.question-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}